*{
    margin: 0;
    padding: 0;
}
img{
    
    border-radius: 50%;
    width: 320px;
    height: 320px;
    border: 1px solid greenyellow;
}
h1{
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
}
body{
    background-color: black;
    font-family: Impact, sans-serif;
}
p{
    color: white;
}
footer{
    color: white;
}

ul{
    margin-top: 35px;

}
li{
    margin-bottom: 18px;
    list-style-type: none;
}
a:hover{
    background-color: aqua;
    color: limegreen;
}

a{
    background-color: limegreen;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.conteiner{

    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}